# .ebextensions/storage-efs-mountfilesystem.config
option_settings:
  - namespace: aws:elasticbeanstalk:application:environment
    option_name: 06ff4ea62f05eaaa4
    value: fs-06ff4ea62f05eaaa4 # Replace with your EFS File System ID
  - namespace: aws:elasticbeanstalk:application:environment
    option_name: EFS_MOUNT_DIR
    value: /efs

files:
  "/opt/elasticbeanstalk/hooks/appdeploy/pre/40_mount_efs.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/bin/bash
      EFS_ID=$(/opt/elasticbeanstalk/bin/get-config environment | jq -r '.FILE_SYSTEM_ID')
      EFS_MOUNT_DIR=$(/opt/elasticbeanstalk/bin/get-config environment | jq -r '.EFS_MOUNT_DIR')

      if [ -z "$EFS_ID" ]; then
        echo "ERROR: FILE_SYSTEM_ID environment property not set."
        exit 1
      fi

      if [ -z "$EFS_MOUNT_DIR" ]; then
        echo "ERROR: EFS_MOUNT_DIR environment property not set."
        exit 1
      fi

      mkdir -p $EFS_MOUNT_DIR

      if ! mountpoint -q $EFS_MOUNT_DIR; then
        echo "Mounting EFS filesystem $EFS_ID to $EFS_MOUNT_DIR"
        mount -t nfs4 -o nfsvers=4.1,rsize=1048576,wsize=1048576,hard,timeo=600,retrans=2,noresvport $EFS_ID.efs.us-east-1.amazonaws.com:/ $EFS_MOUNT_DIR
        if [ $? -ne 0 ]; then
          echo "ERROR: Mount command failed!"
          exit 1
        fi
      else
        echo "Directory $EFS_MOUNT_DIR is already a valid mountpoint!"
      fi
