packages:
  yum:
    amazon-efs-utils: []

commands:
  01_create_mount_dir:
    command: "mkdir -p /mnt/efs/log"

  02_mount_efs:
    command: "mount -t efs fs-06ff4ea62f05eaaa4:/ /mnt/efs/log"

  03_permission:
    command: "chmod -R 777 /mnt/efs/log"

option_settings:
  aws:elasticbeanstalk:application:environment:
    LOG_PATH: /mnt/efs/log/app.log
