container_commands:
  01_createdir:
    command: "mkdir -p /efs/logs"
  02_symlink_logs:
    command: "ln -s /efs/logs /var/app/current/logs"
    # This 'leader_only' is important to run the command only on one instance to avoid race conditions
    # if multiple instances try to create the symlink at the same time.
    leader_only: true 
